.row
  .large-2.columns
    %img{src: "http://placehold.it/80x80&text=[img]"}
  .large-10.columns
    %h4
      = restaurant.name
    %br
    %a{href: ""} Eat Here
  %hr
  / .large-10.columns
  /   %p
  /     %strong= restaurant.name
  /     %br
  /     = restaurant.description 
  /     %br
  /     %a{href: ""} Eat Here
  /     %hr